[config.wallpaper]
command = "systemctl"
arguments = ["--user", "restart", "swaybg"]
set = true

[templates.dunst]
input_path = '~/.config/dunst/dunstrc.template'
output_path = '~/.config/dunst/dunstrc'
post_hook = 'systemctl --user restart dunst && notify-send "Theme has been changed"'

[templates.hyprland]
input_path = '~/.config/hypr/colors.conf.template'
output_path = '~/.config/hypr/colors.conf'

[templates.layer-shell]
input_path = '~/.config/layer-shell/theme.css.template'
output_path = '~/.config/layer-shell/theme.css'
post_hook = 'busctl --user call org.me.LayerShellControl /Control org.me.LayerShellControl ReloadStyles'

[templates.fuzzel]
input_path = '~/.config/fuzzel/fuzzel.ini.template'
output_path = '~/.config/fuzzel/fuzzel.ini'

[templates.wezterm]
input_path = '~/.config/wezterm/colors.lua.template'
output_path = '~/.config/wezterm/colors.lua'

[templates.ghostty]
input_path = '~/.config/ghostty/config.template'
output_path = '~/.config/ghostty/config'
post_hook = 'hyprctl dispatch sendshortcut "CTRL SHIFT, comma, class:com.mitchellh.ghostty"'
