unsplash-wallpaper/.config/unsplash-wallpaper/token

# template-rendered dynamic files
dunst/.config/dunst/dunstrc
hypr/.config/hypr/colors.conf
layer-shell/.config/layer-shell/theme.css
fuzzel/.config/fuzzel/fuzzel.ini
