#workspaces button {
    padding: 0 10px;
    background-color: transparent;
    border: none;
    border-color: white;
    box-shadow: none;
}

#workspaces button:hover {
    background: inherit;
    border: none;
    border-color: white;
    box-shadow: none;
    font-weight: normal;
}

#workspaces button.active {
    background-color: @accentColor;
    border: 0;
}
