[Unit]
Description=Warm up PipeWire sink with silent audio
After=pipewire.service pipewire-pulse.service graphical-session.target
Requires=pipewire.service

[Service]
Type=oneshot
ExecStart=/usr/bin/pw-play %h/.config/systemd/user/silence.wav
Slice=app-graphical.slice

[Install]
WantedBy=graphical-session.target
