[Unit]
Description=Sway OSD Server
After=graphical-session.target

[Service]
ExecStart=swayosd-server
WorkingDirectory=%h
Environment=GTK_THEME=Adwaita:dark
Restart=on-failure
RestartSec=5s
Slice=app-graphical.slice

[Install]
WantedBy=graphical-session.target
