[Unit]
Description=Hyprland XDG Desktop Portal
After=graphical-session.target

[Service]
ExecStart=/usr/lib/xdg-desktop-portal-hyprland
WorkingDirectory=%h
Restart=on-failure
RestartSec=5s
Slice=app-graphical.slice

[Install]
WantedBy=graphical-session.target
