@import url("colors.css");

window {
    background-color: transparent;
}

.row-list {
    border: 5px solid @accentColor;
    background-color: transparent;
    border-radius: 10px;
}

.row {
    background-color: rgba(100, 100, 100, 0.8);
    padding: 10px;
}

.row:hover {
    background-color: rgba(100, 100, 100, 0.85);
}

.row {
    color: @textColor;
}

image {
    color: @accentColor;
}

image:active {
    color: @accentDarkColor;
}
