#custom-power {
    padding: 0 20px;
}

#custom-power:hover {
    background-color: @accentColor;
    border: 2px @accentColor solid;
    border-radius: 10px;
    padding: 0 18px;
    color: @bgColor;
}
