#test { color: #${ACCENT_COLOR}; }
@define-color accentColor #${ACCENT_COLOR};

#test { color: #${ACCENT_DARK_COLOR}; }
@define-color accentDarkColor #${ACCENT_DARK_COLOR};

#test { color: #${TEXT_COLOR}; }
@define-color textColor #${TEXT_COLOR};

#test { color: #${BG_COLOR}; }
@define-color bgColor #${BG_COLOR};
